body{
  font-family: "Montserrat", sans-serif;
  margin-left: 5%;
  margin-right: 5%;
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, #5fdaffbc, #7bc3fe); /* Diagonal gradient background */
}
.shaped-background {
  position: relative;
  height: 100%;
}
.shaped-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.719), rgba(255,255,255,0.6));
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  z-index: -1;
}
.navbar {
  background-color: #f8f9fa;
}
.navbar-brand{
  font-family: "Righteous", sans-serif;
  color: #064d9e;
  background: linear-gradient(90deg, #064d9e, #2a60a7);
  font-size: 30px;
  -webkit-background-clip: text;
}

.nav-link {
  position: relative;
  padding: 10px 15px;
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #007bff; /* Underline color */
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}
.logo img{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-left: 20px;
    max-width: 200px; /* Adjust the size as needed */
    animation: blink 1s infinite; /* Apply the blinking animation */
}
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
}
  }
.future{
  color: cornflowerblue;
  text-shadow: deepskyblue;
}
.png-img img{
    width: 100%;
    height: auto;
    top: 0;
    right: 0;
    z-index: -10;
    display: block;
  }
  .col{
    display: block;

  }
  .row{
    margin-top:100px;
  }
.carousel{
  max-width: 600px;
  margin: auto;
  justify-content: center;
  border-radius: 100px;
/* .carouselCaptions{
  border-radius: 50px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); 

  } */
  }
  .carousel-caption{
    border-radius: 30px;
    background-color:lightskyblue;
  }
  .carousel-inner{
    border-radius: 50px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); 

  }